.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1e1e2f;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar-list li {
  width: 100%;
}

.sidebar-list a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s;
}

.sidebar-list a:hover {
  background-color: #333355;
}
